#awesomeTitle{
	padding: 70px;
	margin-top: 20px;
	background-image:
	url(http://25.media.tumblr.com/84b671a19d51e11e5949859869f4713c/tumblr_mib9lmJB541s5mt8go1_500.gif);
	background-position: center;
	background-repeat: no-repeat;
}

nav li {
	display: inline-block;
	font-size: large;
	margin: 5px;
	font-family: Hiragino Sans;

}
nav li a {
	font-size: large;
}


.bodyText {
	font-size: large;
	margin-bottom: : 10px;
	margin-left: 70px;
	margin-right: 70px;
	font-family: Hiragino Sans;
}

.anotherText{
	color: #006621;
	font-size: large;
	font-family: Hiragino Sans;

}

